body{
  background-image: url(http://lorempixel.com/1920/1080/);
  color: #f8f8f8;
  display: flex;
  justify-content: center;
}

h1 {
  color: #f8f8f8;
  font-family: helvetica;
}

h2 {
  color: #f8f8f8;
  font-family: helvetica;
}